# running in production (static assets)
location {{ bbb_html5client_prefix }}/html5client {
  gzip_static on;
  alias /usr/share/bigbluebutton/html5-client;
  index index.html;
  try_files $uri $uri/ =404;
}

location {{ bbb_html5client_prefix }}/html5client/locales {
  alias /usr/share/bigbluebutton/html5-client/locales;
  autoindex on;
  autoindex_format json;
}

# still needed?: guest-wait.html and learning-dashboard look for locales
# in a hardcoded place
location /html5client/locale {
  return 302 {{ bbb_html5client_prefix }}$request_uri;
}


