[Unit]
Description=Initializes the main postgresql cluster
Requires=var-lib-postgresql.mount
After=var-lib-postgresql.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=rm -fr /etc/postgresql/14/main
ExecStart=pg_createcluster --start 14 main
ExecStart=apt-get reinstall bbb-graphql-server

[Install]
RequiredBy=postgresql.service
